<link rel="stylesheet" href="../assets/css/home.css">
<div class="container">
    <div id="flashMessages"></div>
    
        <h1>Hi My name is <%= user.name %></h1>
        <p>This is a Authentication project given by Coding Ninjas</p>

    
</div>