<link rel="stylesheet" href="/css/reset.css">
<div class="formContainer">

    <form class="form" action="/reset" method="post">
        
        <h1 class="heading">Reset  password</h1>
        <div><img src="" alt=""></div>
        <div class="inputField">
            <input class="inputFieldi" type="text" placeholder="email" name="email" value="email">
        </div>
        <div class="inputField">
            <input class="inputFieldi" type="password" name="oldpassword" placeholder="old password">
        </div>
        <div class="inputField">
            <input class="inputFieldi" type="password" name="newpassword" placeholder="new password">
        </div>

        <div class="btncontainer">
            <button class="btn" type="submit">submit</button>

        </div>

    </form>
</div>
<!-- <%- include("./partial/messages"); %> -->